.container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px 10px;
    margin-bottom: 35px;

    }

.imgproy {
    width: 80%;
    height: auto;
    border-radius: 30px;
}


.item {
    padding: 10px;
    border-radius: 10px;
}


/*----------------------------------------------------------------*/
/* Punto de corte para pantallas tipo tablet                      */
/*----------------------------------------------------------------*/
@media only screen and (max-width: 800px) {
    .container {
        /* Uso un atajo para definir 4 filas / 2 columna */
        grid-template: 450px 450px 450px 450px 450px 450px / 100%; 

        /* Distribuimos el contenido en cada fila */
        grid-template-areas: "izq" "contenido" "izq" "contenido" "izq" "contenido";
        margin-bottom: 150px;
    }
}


/*----------------------------------------------------------------*/
/* Punto de corte para pantallas tipo celular                     */
/*----------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
    .container {
        /* Uso un atajo para definir 6 filas / 1 columna */
        grid-template: auto auto auto auto auto / 100%; 

        /* Distribuimos el contenido en cada fila */
        grid-template-areas: "izq" "contenido" "izq" "contenido" "izq" "contenido";
        margin-bottom: 150px;
    }
}