.container {
    display: grid; 
    grid-template-columns: repeat(4, auto); 
    grid-template-rows: repeat(3, auto); 
    gap: 0px 0px; 
    padding-top: 20px;
    grid-template-areas: 
    "item-izq-1 item-izq-1 item-contenido-1 item-contenido-1"
    "item-izq-2 item-izq-2 item-contenido-2 item-contenido-2"
    "item-izq-3 item-izq-3 item-contenido-3 item-contenido-3"; 
}
.item-izq-1 { grid-area: item-izq-1;
    padding: 15px;
    text-align: center;
    align-self: center;
}
.item-izq-2 { grid-area: item-izq-2;
    padding: 15px;
    text-align: center;
    align-self: center; 
}
.item-izq-3 { grid-area: item-izq-3;
    padding: 15px;
    text-align: center;
    align-self: center; 
}
.item-contenido-1 { grid-area: item-contenido-1;
    padding: 15px; 
    padding-right: 25px;
}
.item-contenido-2 { grid-area: item-contenido-2;
    padding: 15px;
    padding-right: 25px; 
}
.item-contenido-3 { grid-area: item-contenido-3;
    padding: 15px; 
    padding-right: 25px;
}

.imgproy {
    width: 80%;
    height: auto;
    border-radius: 30px;
}


/**MEDIAQUERY PARA RESPONSIVE**/

@media (max-width: 768px) {
    .container {  display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(6, auto);
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "item-contenido-1 item-contenido-1 item-contenido-1 item-contenido-1"
        "item-izq-1 item-izq-1 item-izq-1 item-izq-1"
        "item-contenido-2 item-contenido-2 item-contenido-2 item-contenido-2"
        "item-izq-2 item-izq-2 item-izq-2 item-izq-2"
        "item-contenido-3 item-contenido-3 item-contenido-3 item-contenido-3"
        "item-izq-3 item-izq-3 item-izq-3 item-izq-3";
    }
    
    .item-izq-1 { grid-area: item-izq-1;
        padding: 15px;
        text-align: center;
        align-self: center;
    }
    .item-izq-2 { grid-area: item-izq-2;
        padding: 15px;
        text-align: center;
        align-self: center; 
    }
    .item-izq-3 { grid-area: item-izq-3;
        padding: 15px;
        text-align: center;
        align-self: center; 
    }
    .item-contenido-1 { grid-area: item-contenido-1;
        padding: 15px 25px 15px 25px;
    }
    .item-contenido-2 { grid-area: item-contenido-2;
        padding: 15px 25px 15px 25px;
    }
    .item-contenido-3 { grid-area: item-contenido-3;
        padding: 15px 25px 15px 25px; 
    }

}


