/*FONTS
font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif; */  

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #F9F9F9;
}

::-webkit-scrollbar-thumb {
    background: #6d6c6c;
    border-radius: 50px;
}

html {
    font-size: 73%;
}

body {
    font-family: 'Poppins', 'Lora', sans-serif;
    font-size: 1.6rem;
    padding-top: 10rem;
    background-color: #F9F9F9;
}


/***NAVBAR***/
.nav-bar {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    background-color: #CDF0EA;
    height: 10rem;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.logo {
    width: 150px;
    height: auto;
}

.logo img {
    width:150px;
    transition: 0.4s;
}

.nav-menu {
    display: flex;
    margin-right: 4rem;
    list-style: none;
}

.nav-menu li {
    font-size: 1.7rem;
    margin: 0 1rem;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu a {
    text-decoration: none;
    color: #1f1f1f;
}

.nav-menu a:hover {
    color: #696969;
}

.menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
    margin-right: 2rem;
}

.menu-btn_burguer {
    width: 2rem;
    height: 0.3rem;
    background: #1f1f1f;
    border-radius: 0.5rem;
    transition: all .5s ease-in-out;
}

.menu-btn_burguer::before,
.menu-btn_burguer::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 0.3rem;
    background: #1f1f1f;
    border-radius: 0.5rem;
    transition: all .5s ease-in-out;
}

.menu-btn_burguer::before {
    transform: translateY(-0.7rem);
}

.menu-btn_burguer::after {
    transform: translateY(0.7rem);
}

.menu-btn.open .menu-btn_burguer {
    transform: translateX(-5rem);
    background: transparent;
}

.menu-btn.open .menu-btn_burguer::before {
    transform: rotate(45deg) translate(3.5rem, -3.5rem);
}

.menu-btn.open .menu-btn_burguer::after {
    transform: rotate(-45deg) translate(3.5rem, 3.5rem);
}

main {
    width: 100%;
}

.titulos {
    font-size: 3rem;
    text-transform: uppercase;
    margin: 2rem;
    color: #1f1f1f;
}

/**GENERALES**/

#link {
    text-decoration: none;
    color: #1f1f1f;
}

#link:hover {
    color: #696969;
}

/**MEDIAQUERY PARA RESPONSIVE**/

@media (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #1f1f1f;
        position: fixed;
        left: 0;
        top: 10rem;
        width: 100%;
        padding: 2rem 0;
        height: calc(100% - 8rem);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    }
    .nav-menu li {
        margin: 2rem;
    }
    .nav-menu a {
        color: #F9F9F9;
    }
    .nav-menu a:hover {
        background: none;
        color: #696969;
    }
    .menu-btn {
        display: flex;
    }
    .nav-menu_visible {
        left: 0%;
    }
}

@media (max-width: 576px) {
    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #1f1f1f;
        position: fixed;
        left: 0;
        top: 10rem;
        width: 100%;
        padding: 2rem 0;
        height: calc(100% - 8rem);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    }
    .logo {
        width: 17rem;
    }
    .nav-menu li {
        margin: 2rem;
    }
    .nav-menu a {
        color: #F9F9F9;
    }
    .nav-menu a:hover {
        background: none;
        color: #696969;
    }
    .menu-btn {
        display: flex;
    }
    .nav-menu_visible {
        left: 0%;
    }
    
}